.movies__button-container {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.movies__button {
  width: 320px;
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.movies__button:hover {
  opacity: 0.8;
}