.profile {
  max-width: 410px;
  margin: 148px auto 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 123px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__field {
  /* width: 410px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}

.profile__field:not(:last-child) {
  padding-bottom: 19px;
	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 18px;
}

.profile__span {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.profile__input {
  /* width: 80%; */
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  outline: none;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  color: #000000;
  /* position: absolute;
  top: 0;
  right: 0; */
}

.profile__buttons {
  margin-top: 210px;
  display: flex;
  flex-direction: column;
}

.profile__button-text {
  cursor: pointer;
  background-color: inherit;
  font-size: 13px;
  line-height: 15px;
  border: none;
}

.profile__button-text:hover {
  opacity: .8;
}

.profile__button_type_edit {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  margin-bottom: 14px;
  text-decoration: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.profile__button_type_edit:hover {
  opacity: .8;
}

.profile__button_type_logout {
  font-size: 13px;
  line-height: 15px;
  color: #EE3465; 
  font-weight: 500;
  text-decoration: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.profile__button_type_logout:hover {
  opacity: .8;
}

.profile__submit-button {
  width: 410px;
  height: 45px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #F8F8F8;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-top: 223px;
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
  .profile {
    margin: 310px auto 0;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__span {
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
  }

  .profile__buttons {
    margin-top: 173px;
  }

  .button-edit {
    margin-bottom: 16px;
  }

  .profile__button_type_logout {
    line-height: 18px;
  }
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .profile {
    max-width: 260px;
    margin-top: 144px;
    margin-bottom: 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__form {
    max-width: 260px;
  }

  .profile__field:not(:last-child) {
    padding-bottom: 15px;
    margin-bottom: 16px;
  }

  .profile__span {
    width: 35px;
    line-height: 17px;
  }

  .profile__input {
    width: 225px;
  }

  .profile__buttons {
    margin-top: 345px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 16px;
  }

  .profile__submit-button {
    width: 225px;
    height: 45px;
    border-radius: 6px;
    margin-top: 345px;
  }
}