.search {
	width: 1140px;
	margin: auto;
	margin-bottom: 49px;
}

.search__form {
	padding-bottom: 30px;
	border-bottom: 1px solid #E8E8E8;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.search__icon {
	border: 1px solid #E8E8E8;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	margin-right: 483px;
}

.search__input {
	width: 94px;
	border: none;
	text-align: center;
	font-size: 28px;
	margin-right: 443px;
}

.search__submit-button {
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.search__icon_submit-button {
	width: 80px;
	height: 34px;
	border: none;
	border-radius: 48px;
	background-color: #2BE080;
	cursor: pointer;
}