.navigate {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 151px;
	margin-bottom: 30px;
}

.navigate__link {
	width: 96px;
	height: 36px;
	background-color: #E8E8E8;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	font-size: 12px;
  font-weight: 500;
	line-height: 16px;
	cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.navigate__link:hover {
  opacity: 0.7;
}

.navigate__link:not(:last-child) {
	margin-right: 10px;
}

/* стили меньше 1024px */

@media screen and (max-width: 1023px) {
  .navigate {
    margin-top: 314px;
  }

.navigate__link {
  font-size: 12px;
  line-height: 16px;
  }
}

/* стили меньше 480px */

@media screen and (max-width: 480px) {
  .navigate {
    margin-top: 212px;
  }

  .navigate__link {
    width: 82px;
    height: 26px;
    border-radius: 6px;
    margin-bottom: 17px;
    font-size: 10px;
  }

  .navigate__link:not(:last-child) {
    margin-right: 6px;
  }
}