.page-error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-error__title {
  font-size: 140px;
  font-weight: 400;
  line-height: 148px;
  margin-top: 245px;
  margin-bottom: 5px;
}

.page-error__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 184px;
}

.page-error__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #2BE080;
  text-decoration: none;
  background-color: inherit;
  cursor: pointer;
  margin-bottom: 60px ;
}

.page-error__button:hover {
  opacity: 0.8;
}

/* стили меньше 1024px */

@media screen and (max-width: 1023px) {
  .page-error__title {
    margin-top: 408px;
  }

  .page-error__button {
    margin-bottom: 222px;
  }
}

/* стили меньше 480px */

@media screen and (max-width: 480px) {
  .page-error__title {
    font-size: 80px;
    line-height: 92px;
    margin-top: 329px;
    margin-bottom: 10px;
  }

  .page-error__subtitle {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 284px;
  }

  .page-error__button {
    font-size: 12px;
    margin-bottom: 30px;
  }
}