.search {
	width: 1140px;
	padding-bottom: 49px;
	margin: auto;
	margin-top: 70px;
}

.search__container {
	display: flex;
  	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 30px;
}

.search__icon {
	border: 1px solid #E8E8E8;
	border-radius: 50%;
	width: 34px;
	height: 34px;
}

.search__form {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.search__input {
	width: 1025px;
	border: none;
	outline: none;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
	line-height: 31px;
}

.search__submit-button {
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.search__submit-button:hover {
	opacity: 0.8;
}

.search__icon_submit-button {
	width: 80px;
	height: 34px;
	border: none;
	border-radius: 48px;
	background-color: #2BE080;
}